html {
    display: flex;
    height: 100%;
    flex-direction: column;

}
body {
    flex-wrap: wrap;
    height: 100%;
}

#header
{
    text-align: right;
}
#flex-middel {
    display: flex;
    justify-content: space-between;
}
#flex-middel-footer {
    min-height: 85%;
}
#content
{
    width: 70%;
    padding: 10px;
    text-align: left;
}
#left-sidebar
{
    width: 190px;
    padding-left: 10px;
    background: #FFFDDD;
}

#right-sidebar
{
    width: 190px;

    height: 100%;
    padding-right: 10px;
}

#wrapp_this {

}

#footer
{

    margin-top: auto;
    padding: 10px;
    text-align: center;

}
.max_height {
    height: max-content;
}
textarea, input[type=number], input[type=url]
{
    height: 1.25em;
    width: 25em;
}
/* GRAPHICS FOR GROUP_MESSAGES */
.message
{
    margin: 5px;
    padding: 5px;
    word-break: break-word;
    border-radius: 1em;
}
#messages
{
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
    max-width: 95%;
    border-radius: 1em;
}
#message_from
{
    border: 2px solid grey;
    text-align: left;
    display: inline-block;
    float: left;
}
#message_own
{
    border: 2px solid greenyellow;
    text-align: right;
    display: inline-block;
    float: right;
}
#message_information
{
    font-size: 75%;
    color: grey;
}
#wrapper
{
    width: 100%;
    display: inline-block;
    /*margin: 5px;*/
    /*border: 2px dotted black;*/
}

/* TEMPORAL FIX FOR TEXTAREA ROWS */
textarea {
    height: 100px;
}

/* FRIENDS THINGS */
#remove-button {
    float: right;
}

/* SEARCH BAR AND RESULTS */
#search_link {
    font-size: 18px;
}