
#header
{
    text-align: right;
}
#content
{
    margin-left: 190px;
    margin-right: 190px;
    padding: 10px;
    /* height: 90%; */
    height: auto;
}
#left-sidebar
{
    float: left;
    width: 190px;
    height: 100%;
    padding-left: 10px;
    background: #FFFDDD;
}

#right-sidebar
{
    float: right;
    width: 190px;
    padding-right: 15px;
}

#footer
{
    margin: 0;
    padding: 10px;
    text-align: center ;
    width: 100%;

}
textarea, input[type=number], input[type=url]
{
    height: 1.25em;
    width: 25em;
}
/* GRAPHICS FOR GROUP_MESSAGES */
.message
{
    margin: 5px;
    padding: 5px;
    word-break: break-word;
    border-radius: 1em;
}
#messages
{
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
    max-width: 95%;
    border-radius: 1em;
}
#message_from
{
    border: 2px solid grey;
    text-align: left;
    display: inline-block;
    float: left;
}
#message_own
{
    border: 2px solid greenyellow;
    text-align: right;
    display: inline-block;
    float: right;
}
#message_information
{
    font-size: 75%;
    color: grey;
}
#wrapper
{
    width: 100%;
    display: inline-block;
    /*margin: 5px;*/
    /*border: 2px dotted black;*/
}

/* TEMPORAL FIX FOR TEXTAREA ROWS */
textarea {
    height: 100px;
}

/* FRIENDS THINGS */
#remove-button {
    float: right;
}