
#header
{
    text-align: right;
}
#content
{
    margin-left: 190px;
    margin-right: 190px;
    padding: 10px;
}
#left-sidebar
{
    float: left;
    width: 190px;
}

#right-sidebar
{
    float: right;
    width: 190px;
}

#footer
{
    margin: 0;
    padding: 10px;
    text-align: center;
}
textarea, input[type=number], input[type=url]
{
    height: 1.25em;
    width: 25em;
}
/* GRAPHICS FOR GROUP_MESSAGES */
.message
{
    margin: 5px;
    padding: 5px;
    word-break: break-word;
}
#messages
{
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
    max-width: 95%;
}
#message_from
{
    border: 2px solid grey;
    text-align: left;
    display: inline-block;
    float: left;
}
#message_own
{
    border: 2px solid greenyellow;
    text-align: right;
    display: inline-block;
    float: right;
}
#message_information
{
    font-size: 75%;
    color: grey;
}
#wrapper
{
    width: 100%;
    display: inline-block;
    /*border: 2px dotted black;*/
}