{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-2.2.3.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static "style/base.css" %}" />
    <title>Messaging{% block title %}{% endblock %}</title>
</head>

<body>

<div id="header">
    {% block header %}
        {% if user.username %}
            <p>User: {{ user.username }} | <a href="{% url 'logout' %}?next={{request.path}}">logout</a></p>
        {% else %}
            <p>
                <a href="{% url 'login' %}?next={{request.path}}">Login</a>
                /
                <a href="{% url 'messaging:user_create' %}">Register</a>
            </p>
        {% endif %}
    {% endblock %}
</div>

<div id="sidebar">
    {% block sidebar %}
        <ul>
            <h1><li><a href="/messaging/">Home</a></li></h1>
            {% if user.username %}
                <h1>CHATS</h1>
                <h3><a href="{% url 'messaging:group_create' %}" >Create chat</a></h3>

                {% for group in user.groups.all %}
                    <ul>
                        <li>
                            <a href="{% url 'messaging:group_detail' group.id %}" > {{ group.name }} </a>
                        </li>
                    </ul>
                {% endfor %}

            {% endif %}
        </ul>
    {% endblock %}
</div>

<div id="sidebar2">
    {% block sidebar2 %}
        <h2>Other People</h2>
            {% for user in users %}
                { user.username }}
            {% endfor %}
    {% endblock %}
</div>

<div id="content">
    {% block content %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% endblock %}
</div>

<div id="footer">
    {% block footer %}{% endblock %}
</div>


</body>
</html>