{% extends "messaging/base.html" %}

{% block title %}
    - Group
{% endblock %}

{% block content %}

    <h2>Name: {{ group.name }}</h2>
<h2>Members:</h2>
<p>
    <ul>
    {% for member in group.members.all %}
        <a href="{% url 'messaging:view_profile_with_pk' pk=member.pk %} " >
            <li> {{ member.username }} </li>
        </a>
    {% endfor %}
    </ul>

    <h2><a href="{% url 'messaging:group_users_edit' group.id %}">ADD USER</a> </h2>

</p>

<h2>
    MESSAGES:
</h2>
<div id="messages">
    {% for message in group.messages.all %}
        <div id="wrapper">
            {% if user.username == message.from_user.username %}
                <div id="message_own" class="message">
                    {{ message.text }}
                    <div id="message_information">
                        {{ message.date|linebreaks }}
                    </div>
                </div><br>
            {% else %}
                <div id="message_from" class="message">
                    {{ message.text|linebreaks }} <br>
                    <div id="message_information">
                        by {{ message.from_user }} - {{ message.date }}
                    </div>
                </div><br>
            {% endif %}
        </div>
    {% empty %} <div>No messages on this chat yet</div>
    {% endfor %}
</div>


<h2>
    SEND MESSAGE:
</h2>
    <form action="{% url 'messaging:group_message_create' group.id %}" method="post" >
        {% csrf_token %}
        Message: <textarea name="message" id="group_message" rows="4"></textarea><br>
        <input type="submit" value="Send" />
    </form>

{% endblock %}
