{% extends "messaging/base.html" %}
{% block content %}

    <h2>Name: {{ group.name }}</h2>
<h2>Members:</h2>
<p>
    <ul>
    {% for member in group.members.all %}
        <li> {{ member.username }} </li>
    {% endfor %}
    </ul>
    {{ message.text|linebreaks }}<br/>
</p>

<h2>
    SEND MESSAGE:
</h2>
    <form action="" method="post" >
        {% csrf_token %}
        Message: <textarea name="message" id="group_message" rows="4"></textarea>
        <input type="submit" value="Send" />
    </form>

{% endblock %}
