{% extends "messaging/base.html" %}
{% block title %}
    - Home
{% endblock %}
{% block content %}
    <form action="/" method="post">
        <input type="text" placeholder="Search users here..." name="term" size="30">
        <button type="submit">Search</button>
    </form>
<h1>
    Messages
    {% if user.username %}(<a href="{% url 'messaging:message_create' %}">Write new</a>){% endif %}
</h1>
<ul>
    {% for message in latest_message_list %}
        {% if user.username == message.to.username %}
            <li><a href="{% url 'messaging:message_detail' message.id %}">
                Message from {{ message.sender }} - {{ message.date }}</a>
            </li>
        {% endif %}
    {% empty %}<li>Sorry, no messages registered yet.</li>
    {% endfor %}
</ul>
{% endblock %}