{% extends "messaging/base.html" %}
{% block title %}
    - Home
{% endblock %}
{% block content %}
    <form class="search"  method='post'>
        {% csrf_token %}
        <input type="search" placeholder="Search users here..." name="usr_query"
        value='{{ query }}' required>
            <button type="submit">Search</button>
    </form>
<h1>
    Messages
    {% if user.username %}(<a href="{% url 'messaging:message_create' %}">Send</a>){% endif %}
</h1>
<ul>
    {% for message in latest_message_list %}
        {% if user.username == message.to.username %}
            <li><a href="{% url 'messaging:message_detail' message.id %}">
                Message from {{ message.sender }} - {{ message.date }}</a>
            </li>
        {% endif %}
    {% empty %}<li>Sorry, no messages registered yet.</li>
    {% endfor %}
</ul>
{% endblock %}