{% extends "messaging/base.html" %}
{% block title %}
    - Message
{% endblock %}

{% block content %}

    <h2>Date: {{ message.date|date:'Y-m-d H:i' }}</h2>
<h2>Content:</h2>
<p>
    {{ message.text|linebreaks }}<br/>
</p>

    <form action="{% url 'messaging:message_reply' message.pk %}" method="post" >
        {% csrf_token %}
        Message: <textarea name="message" id="message_reply" rows="4"></textarea><br>
        <input type="submit" value="Reply" />
    </form>

{% endblock %}
