{% extends "messaging/base.html" %}
{% load staticfiles %}

{% block title %}
    - User Profile
{% endblock %}

{% block content %}
<title>Profile</title>

<div class="container">
    {% if user.username == request.user.username %}
        <h1>Your profile</h1>
    {% else %}
        <h1>{{ user.username }}'s profile</h1>
        {% if user in request.user.friends.all %}
            <a href="{% url 'messaging:change_friend' operation='remove' pk=user.pk %}" >
                <button type="button" class="btn btn-default">REMOVE FRIEND</button>
            </a>
        {% else %}
            <a href="{% url 'messaging:change_friend' operation='add' pk=user.pk %}" >
                <button type="button" class="btn btn-default">ADD FRIEND</button>
            </a>
        {% endif %}
    {% endif %}
    <p>Username: {{ user }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Description: {{ user.description }}</p>
    <p>Phone: {{ user.phone }}</p>
    <p>City: {{ user.city }}</p>
    <p>Website: {{ user.website }}</p>
    <img src="{% static "images/photo_profile_example.png" %}" width="240">
</div>

</div>
{% endblock %}
