{% extends "messaging/base.html" %}

{% block title %}
    - Search Results
{% endblock %}

{% block content %}
<title>Search Results</title>

<div class="container">
    <ul>
        <h1>Users search result:</h1>
        {% for res in results %}
            {% if res.username != "admin" %}
                <li type="circle">
                    <a href="{% url 'messaging:view_profile_with_pk' pk=res.pk %} " >
                        <h4>{{ res.username }}</h4>
                    </a>
                </li>
            {% endif %}
            {% empty %} <h4>Sorry, any user was found with that query</h4>
        {% endfor %}
    </ul>
</div>
{% endblock %}
